# Lists&Slicing&Tuples

In [1]:
text = "Her gün, her hafta, bilgime yeni bilgiler katıyorum, bu beni çok motive ediyor."
print(text.replace(",", ","+chr(35)).replace(" ", " "+chr(95)))

Her _gün,# _her _hafta,# _bilgime _yeni _bilgiler _katıyorum,# _bu _beni _çok _motive _ediyor.

In [2]:
chr(35)

'#'

In [3]:
chr(95)

'_'

In [4]:
text = "Her gün, her hafta, bilgime yeni bilgiler katıyorum, bu beni çok motive ediyor."
print(text.replace(",", ","+chr(35)).replace(" ", " "+chr(95)))

Her _gün,# _her _hafta,# _bilgime _yeni _bilgiler _katıyorum,# _bu _beni _çok _motive _ediyor.

In [15]:
text = "Her gün, her hafta, bilgime yeni bilgiler katıyorum, bu beni çok motive ediyor."
splitted_text1 = text.split(",")
joined_text1 = ",#".join(splitted_text1)
splitted_text2 = joined_text1.split()
Final_Text = " _".join(splitted_text2)
print(Final_Text)

Her _gün,# _her _hafta,# _bilgime _yeni _bilgiler _katıyorum,# _bu _beni _çok _motive _ediyor.

In [20]:
["red", "purple", "blue", "yellow", "green"][3]

'yellow'

In [28]:
city = [[1,2,3,5,6,7,8]]
print(city[0][2][3])

TypeError: 'int' object is not subscriptable

In [33]:
city1 = [['New York', 'Istanbul', 'Seoul']]
city_list = []

city_list.append(city1)
print(city_list)
city1[0][2][3]

[[['New York', 'Istanbul', 'Seoul']]]

'u'

# Slicing

In [34]:
# ne slice liyorsaniz, slice sinizin tipide o dur.

In [35]:
a = ("a", "b", "c", "d", "e", "f", "g", "h")
x = slice(3, 5)
print(a[x])

('d', 'e')

In [36]:
a = ("a", "b", "c", "d", "e", "f", "g", "h")
x = slice(0, 8, 3)
print(a[x])

('a', 'd', 'g')

In [51]:
# select odd numbers
# select even numbers
x = list(range(1,10))
print(x[::2])
print(x[1::2])

[1, 3, 5, 7, 9]
[2, 4, 6, 8]

In [60]:
# select odd numbers
# select even numbers
numbers = list(range(11))
print(numbers)
print(numbers[1:11:2])
print(numbers[:11:2])

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 3, 5, 7, 9]
[0, 2, 4, 6, 8, 10]

In [62]:
range(1,11)

range(1, 11)

In [70]:
number = list(range(1,11))
number

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [71]:
number = list(range(11))
number

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [74]:
x = range(3, 20, 2)
list(x)

[3, 5, 7, 9, 11, 13, 15, 17, 19]

In [75]:
range(11)

range(0, 11)

In [76]:
range(-1)

range(0, -1)

In [81]:
x = range(30, -11, -3)
list(x)

[30, 27, 24, 21, 18, 15, 12, 9, 6, 3, 0, -3, -6, -9]

In [100]:
print(len([[1,2,3,4,5,5]][0]))

6

In [103]:
len("clarusway")

9

In [4]:
usernames = input("Choose a username: [4-10 characters] ")

if 4 <= len(usernames) <= 10:
    print(f"Thank you. The usernames {usernames} is valid")
else:
    print("The usernames must be between 4 and 10 characters long")

Choose a username: [4-10 characters] Erd
The username must be between 4 and 10 characters long

In [1]:
>>> colors = ["red", "green", "blue", "yellow", "pink", "3"]

>>> while len(colors) > 0:
...     print(f"The next color is {colors.pop(0)}")

The next color is red
The next color is green
The next color is blue
The next color is yellow
The next color is pink
The next color is 3

In [17]:
>>> import random

>>> numbers = [random.randint(1, 10) for _ in range(10)]
>>> numbers
[9, 1, 1, 2, 8, 10, 8, 6, 8, 5]

firs_half = numbers[: len(numbers) // 2]
secnd_half = numbers[len(numbers) // 2 :]

print(firs_half)
print(secnd_half)

[10, 3, 1, 8, 9]
[4, 10, 8, 4, 2]

In [20]:
city = ['los', 'fg', 'fgh']
city[1] = 'Istanbul'

print(city)

['los', 'Istanbul', 'fgh']

In [38]:
a = [1,2,3,4,5]
# del a[2]
# a[2:3] = []
# a.remove(3)
# a[2:2]=[]

In [39]:
a

[1, 2, 4, 5]

# Tuples

In [40]:
import sys

In [41]:
x = [1, 2, 3]

y = (1, 2, 3)

In [42]:
print(sys.getsizeof(x))
print(sys.getsizeof(y))
# Lists take 2 times up space from tuples

120
64

In [43]:
my_tuple = ("Solar")

print(my_tuple, type(my_tuple), sep="\n")

Solar
<class 'str'>

In [44]:
my_tuple = ("Solar",)

print(my_tuple, type(my_tuple), sep="\n")

('Solar',)
<class 'tuple'>

In [45]:
my_tuple = (1,2,3,4,5,6)
my_list = list(my_tuple)

print(type(my_list),my_list)

<class 'list'> [1, 2, 3, 4, 5, 6]

In [51]:
c = 10

In [52]:
c

10

In [53]:
a, b, c = 1, 2, 3

In [54]:
c

3

In [55]:
x = 1, 2, 3

In [56]:
x

(1, 2, 3)

In [57]:
x, y = 3

TypeError: cannot unpack non-iterable int object

In [58]:
type(x)

tuple