# DICTIONARIES

In [2]:
print(*('separate')[::-1])

e t a r a p e s

In [3]:
number_of_shoes = {"ali" : 1,
                  "veli" : 1,
                  "deli" : 1
                  }

In [5]:
number_of_shoes

{'ali': 1, 'veli': 1, 'deli': 1}

In [16]:
number_of_shoes["ali"]

6

In [24]:
number_of_shoes["ali"]-=1

number_of_shoes

{'ali': 2, 'veli': 0, 'deli': 1}

In [47]:
dict_by_dict = dict(animal = "dog", 
                    planet = "neptun", 
                    number = 40, 
                    pi = 3.14, 
                    is_good = True)
dict_by_dict

{'animal': 'dog',
 'planet': 'neptun',
 'number': 40,
 'pi': 3.14,
 'is_good': True}

In [36]:
dict_by_dict["animal"]

'dog'

In [37]:
# dict_by_dict = {'animal' : "dog", 
#                     'planet' : "neptun", 
#                     'number' : 40, 
#                     'pi' : 3.14, 
#                     'is_good' : True}
# dict_by_dict

In [38]:
dict_by_dict["is_good"]

True

In [42]:
type(dict_by_dict["is_good"])

bool

In [45]:
dict_by_dict.clear()

In [48]:
dict_by_dict

{'animal': 'dog',
 'planet': 'neptun',
 'number': 40,
 'pi': 3.14,
 'is_good': True}

In [50]:
print(dict_by_dict.items(), '\n')
print(dict_by_dict.keys(), '\n')
print(dict_by_dict.values())

dict_items([('animal', 'dog'), ('planet', 'neptun'), ('number', 40), ('pi', 3.14), ('is_good', True)])

dict_keys(['animal', 'planet', 'number', 'pi', 'is_good'])

dict_values(['dog', 'neptun', 40, 3.14, True])

In [51]:
dict_by_dict.update({"mehmet" : "bay", 11 : "integer"})

In [52]:
dict_by_dict

{'animal': 'dog',
 'planet': 'neptun',
 'number': 40,
 'pi': 3.14,
 'is_good': True,
 'mehmet': 'bay',
 11: 'integer'}

In [54]:
mix_values_1 = {'brother': ('dog', 'cat'),
                'planet': ['Neptun', 'Saturn', 'Jupiter'],
                'number': 40,
                'pi': 3.14,
                'is_good': True}

# Second way to create a dict with dict() function

mix_values_2 = dict(animal='dog', 
                    planet='neptun', 
                    number=40, 
                    pi=3.14, 
                    is_good=True)

In [55]:
print(mix_values_1.items(), '\n')
print(mix_values_1.keys(), '\n')
print(mix_values_1.values())

print(mix_values_2.items(), '\n')
print(mix_values_2.keys(), '\n')
print(mix_values_2.values())

dict_items([('animal', ('dog', 'cat')), ('planet', ['Neptun', 'Saturn', 'Jupiter']), ('number', 40), ('pi', 3.14), ('is_good', True)])

dict_keys(['animal', 'planet', 'number', 'pi', 'is_good'])

dict_values([('dog', 'cat'), ['Neptun', 'Saturn', 'Jupiter'], 40, 3.14, True])
dict_items([('animal', 'dog'), ('planet', 'neptun'), ('number', 40), ('pi', 3.14), ('is_good', True)])

dict_keys(['animal', 'planet', 'number', 'pi', 'is_good'])

dict_values(['dog', 'neptun', 40, 3.14, True])

In [56]:
family1 = dict(brother = "X",
              me = "E",
              friend = "N",)
print(family1)
family1["brother2"] = "V"
print(family1)

family = {"brother" : "X" ,
          "me" : "E",
          "friend" : "N"}
print(family)
family["brother2"] = "V"
print(family)

{'brother': 'X', 'me': 'E', 'friend': 'N'}
{'brother': 'X', 'me': 'E', 'friend': 'N', 'brother2': 'V'}
{'brother': 'X', 'me': 'E', 'friend': 'N'}
{'brother': 'X', 'me': 'E', 'friend': 'N', 'brother2': 'V'}

In [60]:
print(list(family1.items()), '\n')
print(list(family1.keys()), '\n')
print(list(family1.values()))

print(list(family.items()), '\n')
print(list(family.keys()), '\n')
print(list(family.values()))

[('brother', 'X'), ('me', 'E'), ('friend', 'N'), ('brother2', 'V')]

['brother', 'me', 'friend', 'brother2']

['X', 'E', 'N', 'V']
[('brother', 'X'), ('me', 'E'), ('friend', 'N'), ('brother2', 'V')]

['brother', 'me', 'friend', 'brother2']

['X', 'E', 'N', 'V']

In [62]:
len(dict_by_dict.items())

7

In [64]:
list(dict_by_dict.items())

[('animal', 'dog'),
 ('planet', 'neptun'),
 ('number', 40),
 ('pi', 3.14),
 ('is_good', True),
 ('mehmet', 'bay'),
 (11, 'integer')]

In [65]:
tuple(dict_by_dict.keys())

('animal', 'planet', 'number', 'pi', 'is_good', 'mehmet', 11)

In [66]:
tuple(dict_by_dict.values())

('dog', 'neptun', 40, 3.14, True, 'bay', 'integer')

In [68]:
dict_by_dict.items()

dict_items([('animal', 'dog'), ('planet', 'neptun'), ('number', 40), ('pi', 3.14), ('is_good', True), ('mehmet', 'bay'), (11, 'integer')])

In [70]:
list(dict_by_dict.items())

[('animal', 'dog'),
 ('planet', 'neptun'),
 ('number', 40),
 ('pi', 3.14),
 ('is_good', True),
 ('mehmet', 'bay'),
 (11, 'integer')]

In [72]:
items = list(dict_by_dict.items())

In [73]:
items[0]

('animal', 'dog')

In [76]:
len(items[5])

2

In [75]:
items[::]

[('animal', 'dog'),
 ('planet', 'neptun'),
 ('number', 40),
 ('pi', 3.14),
 ('is_good', True),
 ('mehmet', 'bay'),
 (11, 'integer')]

In [77]:
x, y = items[0]

In [78]:
x, y

('animal', 'dog')

In [80]:
type(x)

str

In [81]:
type(y)

str

In [82]:
dict_by_dict.keys()

dict_keys(['animal', 'planet', 'number', 'pi', 'is_good', 'mehmet', 11])

In [83]:
set(dict_by_dict.values())

{3.14, 40, True, 'bay', 'dog', 'integer', 'neptun'}

In [85]:
family1 = dict(brother = "X",
              me = "E",
              friend = "N",
            brother2 = "V")
print(family1)

{'brother': 'X', 'me': 'E', 'friend': 'N', 'brother2': 'V'}

In [86]:
list(family1)

['brother', 'me', 'friend', 'brother2']

In [89]:
list(family1.items())

[('brother', 'X'), ('me', 'E'), ('friend', 'N'), ('brother2', 'V')]

In [90]:
list(family1.keys())

['brother', 'me', 'friend', 'brother2']

In [92]:
list(family1.values())

['X', 'E', 'N', 'V']

In [96]:
family1["names"] = "ERD"

family1

{'brother': 'X', 'me': 'E', 'friend': 'N', 'brother2': 'V', 'names': 'ERD'}

In [99]:
family1.update({"names1" : "ERDo"})

family1

{'brother': 'X',
 'me': 'E',
 'friend': 'N',
 'brother2': 'V',
 'names': 'ERDo',
 'names1': 'ERDo'}

In [101]:
family1.update({"names" : "ERDogan"})

family1

{'brother': 'X',
 'me': 'E',
 'friend': 'N',
 'brother2': 'V',
 'names': 'ERDogan',
 'names1': 'ERDo'}

In [103]:
del family1["names"]
family1

{'brother': 'X', 'me': 'E', 'friend': 'N', 'brother2': 'V', 'names1': 'ERDo'}

In [104]:
del family1["me"],family1["names1"]

In [105]:
family1

{'brother': 'X', 'friend': 'N', 'brother2': 'V'}

In [106]:
a = 'clarusway'
a

'clarusway'

In [110]:
print(*(a))

c l a r u s w a y

In [111]:
"i" in "clarusway"

False

In [114]:
"aly" in "clarusway"

False

In [118]:
bootcamp = "c l a r u s w a y"

In [119]:
bootcamp.split()

['c', 'l', 'a', 'r', 'u', 's', 'w', 'a', 'y']

In [120]:
bootcamp = "c l a r u s w a y".split()

bootcamp

['c', 'l', 'a', 'r', 'u', 's', 'w', 'a', 'y']

In [121]:
vr = "ali-veli-deli".split("-")

vr

['ali', 'veli', 'deli']

In [122]:
"a" in bootcamp

True

In [123]:
dict_by_dict

{'animal': 'dog',
 'planet': 'neptun',
 'number': 40,
 'pi': 3.14,
 'is_good': True,
 'mehmet': 'bay',
 11: 'integer'}

In [124]:
"dog" in dict_by_dict
# look keys

False

In [125]:
"animal" in dict_by_dict

True

In [128]:
"dog" in dict_by_dict.values()

True

In [129]:
not True

False

In [132]:
"dog" not in dict_by_dict

True

In [133]:
"dog" not in dict_by_dict.values()

False

In [136]:
x = ([4],)
print(type(x))

<class 'tuple'>

In [139]:
x = (5 +3j,)
print(type(x))

<class 'tuple'>

# Nested dicts

In [140]:
school_records={
    "personal_info":{
        "kid":{"tom":{"class": "intermediate", "age": 10},
               "sue":{"class": "elemantary", "age" : 8}
              },
        "teen":{"joseph":{"class": "college", "age": 19},
               "marry": {"class": "high school", "age": 16}
               },
    },
"grades_info":{
    "kid":{"tom": {"math": 88, "speech": 69},
          "sue": {"math": 76, "speech": 89}
          },
    "teen":{"joseph": {"coding": 80, "math": 74},
            "marry": {"coding": 45, "math": 90}},
    },
}
print(school_records["personal_info"]["teen"]["marry"]["age"])

16

In [141]:
school_records["personal_info"]

{'kid': {'tom': {'class': 'intermediate', 'age': 10},
  'sue': {'class': 'elemantary', 'age': 8}},
 'teen': {'joseph': {'class': 'college', 'age': 19},
  'marry': {'class': 'high school', 'age': 16}}}

In [142]:
type(school_records["personal_info"])

dict

In [143]:
len(school_records["personal_info"])

2

In [148]:
school_records["grades_info"]["teen"]["marry"]["math"]

90