In [1]:
def sayHello(name="user"):
    print("Hello" + name)

In [2]:
sayHello("Nur")
sayHello("Adam")
sayHello()

HelloNur
HelloAdam
Hellouser

In [3]:
def sayHello(name="user"):
    return "Hello" + name

msg = sayHello("Erdo")
msg = sayHello("Erdogan")

msg

'HelloErdogan'

In [4]:
def total(num1, num2):
    return num1 + num2

result = total(10,20)
result = total(15,20)

In [5]:
result

35

In [6]:
def yasHesapla(dogumyili):
    return 2022-dogumyili

Erdem =yasHesapla(2001)
Volkan = yasHesapla(1986)
Erdogan = yasHesapla(1989)

print(Erdem, Volkan, Erdogan)

21 36 33

In [7]:
def retireday(birthday, name):
    
    age = yasHesapla(birthday)
    retire = 65 - age
    
    if retire > 0:
        print(f"retire {retire} years left")
    else:
        print("Already retired")
        
retireday(2001, "Erdem")
retireday(1986, "Volkan")
retireday(1989, "Erdogan")

retire 44 years left
retire 29 years left
retire 32 years left

In [8]:
liste = [1,2,3]

print(help(list.append))

Help on method_descriptor:

append(self, object, /)
    Append object to the end of the list.

None

In [9]:
def changename(n):
    n = "erdem"
    
name = "volkan"

changename(name)
print(name)

volkan

In [10]:
def change(n):
    n[0] = "istanbul"
    n[1] = "trabzon"
    
sehirler = ["ankara", "izmir"]

change(sehirler)

print(sehirler)

['istanbul', 'trabzon']

In [11]:
sehirler = ["ankara", "izmir"]
n = sehirler[:]

n[0] = "istanbul"

print(sehirler)
print(n)

['ankara', 'izmir']
['istanbul', 'izmir']

In [12]:
def add(a, b, c = 0, d = 0, e = 0):
    return sum((a,b,c,d,e))

print(add(10, 20))
print(add(10, 20, 30, 40, 50))

30
150

In [13]:
def add(*params):
    return sum((params))

print(add(10, 20))
print(add(10, 20, 30, 40, 50))
print(add(10, 20, 30, 40, 50, 60, 70))

30
150
280

In [14]:
def add(*params):
    print(params)
    print(params[0])
    print(params[1])
    
    return sum((params))

print(add(10, 20))
print(add(10, 20, 30, 40, 50))
print(add(10, 20, 30, 40, 50, 60, 70))

(10, 20)
10
20
30
(10, 20, 30, 40, 50)
10
20
150
(10, 20, 30, 40, 50, 60, 70)
10
20
280

In [15]:
def add(*params):
    print(type(params))
    
    sum = 0
    
    for i in params:
        sum += i
    
    return sum

print(add(10, 20,30 ))
print(add(10, 20, 30, 40, 50))
print(add(10, 20, 30, 40, 50, 60, 70))

<class 'tuple'>
60
<class 'tuple'>
150
<class 'tuple'>
280

In [16]:
def displayuser(**args):
    print(type(args))
    for key, value in args.items():
        print("{} is {}".format(key, value))

displayuser(name = "Erdem", age=20, city = "istanbul")
displayuser(name = "Nur", age=30, city = "ankara", phone = "123")
displayuser(name = "Volkan", age=36, city = "tuzla", phone = "1234", email = "volkansdsd")

<class 'dict'>
name is Erdem
age is 20
city is istanbul
<class 'dict'>
name is Nur
age is 30
city is ankara
phone is 123
<class 'dict'>
name is Volkan
age is 36
city is tuzla
phone is 1234
email is volkansdsd

In [17]:
def myfunc(a,b, *args, **kwargs):
    print(a)
    print(b)    
    print(args)    
    print(kwargs)
    
myfunc(10,20,30,40,50, key1 = "value1", key2 = "value2")

10
20
(30, 40, 50)
{'key1': 'value1', 'key2': 'value2'}